<a href="https://colab.research.google.com/github/mukindiru/SFCML_Assignments/blob/main/Getting_Started_with_Text_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<font color="#4b76b7">To start practicing, you will need to make a copy of it. Go to File > Save a Copy in Drive. You can then use the new copy that will appear in the new tab.</font>

# AfterWork Data Science: Getting Started with NLP Project

### Prerequisites

In [1]:
# Importing the required libraries
# ---
# 
import pandas as pd # library for data manipulation
import numpy as np  # librariy for scientific computations
import re           # regex library to perform text preprocessing
import string       # library to work with strings
import nltk         # library for natural language processing
import scipy        # scientific conputing

### 1. Importing our Data

In [2]:
# Question: Given a new tweets, create a sentiment analysis model that will 
# predict whether a tweet will contain positive or negative sentiment.
# ---
# Dataset url = https://bit.ly/31kqByD 
# ---
#
df = pd.read_csv('https://bit.ly/31kqByD', encoding='latin-1')
df.head()

,Unnamed: 0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
0,346508,0,2016177685,Wed Jun 03 06:18:50 PDT 2009,NO_QUERY,UriGrey,Obama forges his Muslim alliance against the c...
1,883537,4,1686152287,Sun May 03 04:02:08 PDT 2009,NO_QUERY,MariesolW,Had the most spectacular prom ever but now my...
2,764173,0,2298725623,Tue Jun 23 12:02:12 PDT 2009,NO_QUERY,ColleenBurns,I am overwhelmed today taking a moment to eat...
3,638701,0,2234530495,Thu Jun 18 23:13:54 PDT 2009,NO_QUERY,queenarchy,@lindork Tres sad. I was totally a Max fan. #...
4,664821,0,2244623416,Fri Jun 19 14:59:46 PDT 2009,NO_QUERY,reinventingjess,"Crap, I was counting down the hours until my d..."

### 2. Data Exploration

In [3]:
# We can determine the size of our dataset
# ---
#
df.shape

(10000, 7)

Seems this dataset will need some data cleaning i.e. columns. We also don't need some columns to perform create our model. We will drop those columns.

### 3. Data Preparation

#### Basic Data Cleaning Techniques

In [4]:
# We rename the columns for ease of referencing our columns later on
# ---
#
df.columns = ['id', 'target', 't_id', 'created_at', 'query', 'user', 'text']
df.head()

,id,target,t_id,created_at,query,user,text
0,346508,0,2016177685,Wed Jun 03 06:18:50 PDT 2009,NO_QUERY,UriGrey,Obama forges his Muslim alliance against the c...
1,883537,4,1686152287,Sun May 03 04:02:08 PDT 2009,NO_QUERY,MariesolW,Had the most spectacular prom ever but now my...
2,764173,0,2298725623,Tue Jun 23 12:02:12 PDT 2009,NO_QUERY,ColleenBurns,I am overwhelmed today taking a moment to eat...
3,638701,0,2234530495,Thu Jun 18 23:13:54 PDT 2009,NO_QUERY,queenarchy,@lindork Tres sad. I was totally a Max fan. #...
4,664821,0,2244623416,Fri Jun 19 14:59:46 PDT 2009,NO_QUERY,reinventingjess,"Crap, I was counting down the hours until my d..."

In [5]:
# We retain the relevant columns by dropping the columns we don't need 
# for creating a sentiment analysis model. 
# ---
#
df = df.drop(['id', 't_id', 'created_at', 'query', 'user'], axis = 1)
df.head()

   target                                               text
0       0  Obama forges his Muslim alliance against the c...
1       4  Had the most spectacular prom ever  but now my...
2       0  I am overwhelmed today  taking a moment to eat...
3       0  @lindork Tres sad. I was totally a Max fan.  #...
4       0  Crap, I was counting down the hours until my d...

In [6]:
# Understanding the distribution of target
# ---
#
df.target.value_counts()

0    5067
4    4933
Name: target, dtype: int64

In [7]:
# Let's determine whether our columns have the right data types
# ---
#
df.dtypes

target     int64
text      object
dtype: object

In [8]:
# What values are in our target variable?
# ---
#
df.target.unique()

array([0, 4])

These are the two classes to which each document (text) belongs. The target value 0 means a text with a negative sentiment, while that of 4 means a text with a positive sentiment.

In [9]:
# Let's check for missing values 
# ---
# 
df.isnull().sum()

target    0
text      0
dtype: int64

We don't have any missing values, so we are good to go.

#### Text Processing

In [10]:
# Text Cleaning: Removing all urls/links
# ---
# 
df['text'] =  df['text'].apply(lambda x: re.sub(r'http\S+|www\S+|https\S+','', str(x)))
df[['text']].head()

                                                text
0  Obama forges his Muslim alliance against the c...
1  Had the most spectacular prom ever  but now my...
2  I am overwhelmed today  taking a moment to eat...
3  @lindork Tres sad. I was totally a Max fan.  #...
4  Crap, I was counting down the hours until my d...

In [11]:
df.head()

   target                                               text
0       0  Obama forges his Muslim alliance against the c...
1       4  Had the most spectacular prom ever  but now my...
2       0  I am overwhelmed today  taking a moment to eat...
3       0  @lindork Tres sad. I was totally a Max fan.  #...
4       0  Crap, I was counting down the hours until my d...

In [12]:
# Text Cleaning: Removing @ and # characters or replace them with space
# ---
# YOUR CODE GOES BELOW
#
df['text_wt_punct'] = df.text.str.replace('[^\w\s]','')
df[['text', 'text_wt_punct']].sample(5)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  """

,text,text_wt_punct
2083,"XL Mall launching party at Dragon Fly, 6 June ...",XL Mall launching party at Dragon Fly 6 June 2...
5513,"@cassiusaway In my direction, and from a great...",cassiusaway In my direction and from a great h...
7589,"Okay, I'm definitely going to the gym now Lat...",Okay Im definitely going to the gym now Laters
6530,Feeling very sunny...gonna be a wonderful day,Feeling very sunnygonna be a wonderful day
115,"@Florrieee I've heard thats good, might give i...",Florrieee Ive heard thats good might give it a...

In [13]:
# Text Cleaning: Conversion to lowercase
# ---
# YOUR CODE GOES BELOW
#

df[['text_wt_punct']] = df[['text_wt_punct']].astype(str).apply(lambda x: x.str.lower())
df[['text', 'text_wt_punct']].sample(5)

,text,text_wt_punct
426,So I officially need a new computer. All 3 of ...,so i officially need a new computer all 3 of o...
6555,@stormewg i hope the excessively mopey jams di...,stormewg i hope the excessively mopey jams did...
3613,aint seen this movie innawhile quiet like it ...,aint seen this movie innawhile quiet like it ...
5424,"aaw, i had a live connecion with the peformanc...",aaw i had a live connecion with the peformance...
2578,"i love all my leo's virgos, and libra's and sc...",i love all my leos virgos and libras and scorp...

In [14]:
# Text Cleaning: Splitting concatenated words
# ---
# Performing this step will take few minutes...
# ---
# YOUR CODE GOES BELOW
# 

# Installing wordnija and textblob
# ---
#
!pip install wordninja

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: wordninja in /usr/local/lib/python3.7/dist-packages (2.0.0)

In [15]:
!pip install textblob

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: textblob in /usr/local/lib/python3.7/dist-packages (0.15.3)
Requirement already satisfied: nltk>=3.1 in /usr/local/lib/python3.7/dist-packages (from textblob) (3.7)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from nltk>=3.1->textblob) (4.64.1)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.7/dist-packages (from nltk>=3.1->textblob) (2022.6.2)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from nltk>=3.1->textblob) (1.1.0)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from nltk>=3.1->textblob) (7.1.2)

In [16]:

# Importing those libraries
# ---
#
import wordninja
from textblob import TextBlob

In [17]:
# Performing the split
# ---
#

df['text_wt_punct'] = df.text_wt_punct.apply(lambda x: wordninja.split(str(TextBlob(x))))  
df['text_wt_punct'] = df.text_wt_punct.str.join(' ')
df[['text','text_wt_punct']].sample(10)

,text,text_wt_punct
3426,thinks $43.50 is too much to see Kings of Leon...,thinks 4350 is too much to see kings of leon l...
4908,OMG KATE WAS AMAZINGGG TONIGHT &lt;33 such a g...,omg kate was amazing gg tonight lt 33 such a g...
9534,@d_cahill i try,d cahill i try
9412,"@emdanyell Aw, that sucks. I have a feeling m...",emd an yell aw that sucks i have a feeling my ...
6594,@laubow_ Yep exactly!,lau bow yep exactly
9502,@FionaMChapelle Non... but then don't really h...,fiona m chapelle non but then dont really have...
1563,"@aspender Which, from your subsequent tweets, ...",a spender which from your subsequent tweets it...
1080,@tikigeeki I've also heard the adjective &quot...,tiki geek i ive also heard the adjective quo t...
4547,em back!,em back
1476,"@rahsheen alright, I'll let you slide on that ...",rah sheen alright ill let you slide on that one

In [18]:
# Text Cleaning: Removing punctuation characters
# ---
# YOUR CODE GOES BELOW
#

df['text_wt_punct'] = df.text_wt_punct.str.replace('[^\w\s]','')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version.

In [19]:
# Text Cleaning: Removing stop words
# ---
# YOUR CODE GOES BELOW
# 
import nltk
nltk.download('stopwords')

from nltk.corpus import stopwords
stop = stopwords.words('english')

from nltk.corpus import stopwords
df['text_wt_punct'] = df.text_wt_punct.apply(lambda x: " ".join(x for x in x.split() if x not in stop))
df[['text','text_wt_punct']].sample(10)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

,text,text_wt_punct
7570,had a great day with my mom!! wish she lived c...,great day mom wish lived closer
9179,@Bluefinch just tried it - you can't upload an...,blue finch tried cant upload animated gif icon...
5820,Celebrating with my closest peeps today,celebrating closest peeps today
7158,Obsession of the day: Metro Station and Stereo...,obsession day metro station stereo skyline
5356,"The new York skyline is great, but I really mi...",new york skyline great really miss mountains
2689,Gonna call it a night,gonna call night
4406,@nevitsky wow!!! good for you!!,nev sky wow good
3721,still hurts spendin time w/ Alba &amp; Leyla ...,still hurts spend time w alba amp leyla 2 morr...
6749,"@irinai sorry, i'm not taunting you. I thought...",irina sorry im taunting thought would like pic...
3829,- me playing my all time favourite sport... S...,playing time favourite sport soccer

In [20]:
# Text Cleaning: Lemmatization
# ---
# YOUR CODE GOES BELOW
#

# For lemmatization, we will need to download wordnet
#

nltk.download('wordnet')
nltk.download('omw-1.4')
# Lemmatizing our text
# ---
#

from textblob import Word

df['lemmatization'] = df.text_wt_punct.apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()])) 
df[['text', 'lemmatization']].sample(10)

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

,text,lemmatization
4173,iisss lovinng the weather todayy &amp;&amp; is...,lovin ng weather today amp amp goi go w hill e...
6093,Whipping up good ol' spinach &amp; ricotta cre...,whipping good ol spinach amp ricotta creamy ba...
4314,@mileycyrus i reply to u all the time and i st...,miley cyrus reply u time still nt gotten one y...
1284,A good refreshing band added me on myspace tod...,good refreshing band added myspace today de le...
9870,@bearabledeals Thank you for including me in y...,bearable deal thank including ff
240,Lunchtime soon - I can even sit in the garden ...,lunchtime soon even garden sun shining today
2703,sippin my wine..layin dwn in dark...take contr...,sip pin wine lay dw n dark take control handle...
4694,@erniehalter you weree soooo goood last night ...,ernie halter e ooo go ood last night josh hog ...
5558,@adrijobecq De tard work de noite vou pa ramb...,adri job e cq de tard work de e vo u pa rambo
2547,@awaisnaseer I've recently done some post like...,awa seer ive recently done post like wait

We won't remove numerics because we could loose meaning of our text if we lost the numerics. We could also further prepare our text by performing spelling correction but this is a resource intensive process that we will skip for now.

#### Feature Engineering Techniques

In [54]:
# Feature Construction: Length of tweet
# ---
# YOUR CODE GOES BELOW
#

df['no_of_#'] = df.text.apply(lambda x: len([x for x in x.split() if x.startswith('#')]))
df[['text','no_of_#']].sample(5)

                                                   text  no_of_#
2232  yey! have finished coursework... thank god for...        0
2659  @wimbledon looking forward to the tennis. not ...        0
8143                           fab weekend with @n1ck!         0
9107  @YaGirlDWoods oh moma likes Shannon Brown! Did...        0
4815  is kinda lazy to do the whoe working thng! sur...        0

In [56]:
# Feature Construction: Word count 
# ---
# YOUR CODE GOES BELOW
# 
df['word_count'] = df.text.apply(lambda x: len(str(x).split(" ")))
df[['text', 'word_count']].sample(5)

                                                   text  word_count
8738  Tim for some lunch and shizzzz. Gotta power cy...          15
18    Dog walk and then some more work on a blog sit...          28
3888                   Justin is a liar! I have proof!            8
9204             WHY IS THIS FOOTBALL STILL HAPPENING?            7
6031  @snickers1015 Yup, this was a bad flu year.  I...          16

In [23]:
# Feature Construction: Word density (Average no. of words / tweet)
# ---
# YOUR CODE GOES BELOW
#

def avg_word(sentence):
  words = sentence.split()
  return (sum(len(word) for word in words)/len(words))

df['avg_word_length'] = df.text.apply(lambda x: avg_word(x))
df[['text','avg_word_length']].sample(5)

                                                   text  avg_word_length
5769  I want to go dancingggggg  mehh, I hate it tha...         3.812500
9672  @Butterflyshoes LOL if she wants to fully enjo...         5.066667
6475                 @evr it helps if you use @jowyang          3.857143
4444  didn't get to go see drag me to hell today.  N...         4.125000
3498                                 Heading to church          5.000000

In [24]:
# Feature Construction: Noun count
# ---
# YOUR CODE GOES BELOW
#
# First, we will download the punkt and the averaged_perceptron_tagger into our notebook environment. 
# which will allow us to find the part of speech tags.
# ---
#
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')

# We create the function to check and get the part of speech tag count of a words in a given sentence
pos_dic = {
    'noun' : ['NN','NNS','NNP','NNPS'],
    'pron' : ['PRP','PRP$','WP','WP$'],
    'verb' : ['VB','VBD','VBG','VBN','VBP','VBZ'],
    'adj' :  ['JJ','JJR','JJS'],
    'adv' : ['RB','RBR','RBS','WRB']
}

def pos_check(x, flag):
    cnt = 0
    try:
        wiki = TextBlob(x)
        for tup in wiki.tags:
            ppo = list(tup)[1]
            if ppo in pos_dic[flag]:
                cnt += 1
    except:
        pass
    return cnt

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

In [25]:
# Noun Count
# ---
# YOUR CODE GOES BELOW
#
df['noun_count'] = df.text.apply(lambda x: pos_check(x, 'noun'))
df[['text','noun_count']].sample(10)

                                                   text  noun_count
994                  trying to fight this damn cold...            1
9635  Im going to sleep, im tired, i have been cried...           4
7711  It's Saturday and I'm feelin a bit BLAH but st...           4
4367  Washed and whacked the first skein of my sock ...           7
4239  @mileycyrus SHOUTOUTS! please! u never do that...           8
4101                 also misses @rlockaby incredibly.            1
6504  Since there's no suspension, there'll be a qui...           4
1180  @rubenj_sa and you are correct, it is a free m...           4
6742  @b50 There! You are impressing me with you kna...           4
4761                          @CarlosSP Sent wednesday            3

In [26]:
# Feature Construction: Verb count
# ---
# YOUR CODE GOES BELOW
#

df['verb_count'] = df.text.apply(lambda x: pos_check(x, 'verb'))
df[['text','verb_count']].sample(10)

                                                   text  verb_count
6662  @deconstructo Open to new members  But otherwi...           0
3599  In paddington on the train waiting for it to m...           5
2626  @PCPMarauder I am so proud of you! You are wor...           4
8948  @GirlFridayK You make me very happy.  I'll sen...           2
8312  SHOWER then SLEEP....dont wanna wake up early ...           3
6664  @TwiNews_Mickeyd maybe, i'm not sure yet, but ...           7
8176  just got done with my very first web cam tv bl...           2
2757                 @smileymouse well screw you then!            0
1924  @over40something Am having 3 days too. A flex ...           4
5061  dragged family out this morning to do 1 min ru...           3

In [27]:
# Feature Construction: Adjective count / Tweet
# ---
# YOUR CODE GOES BELOW
#
df['adj_count'] = df.text.apply(lambda x: pos_check(x, 'adj'))
df[['text','adj_count']].sample(10)

                                                   text  adj_count
8283  @chrissyandcoco I'm going to share your link o...          2
4363          My TweetDeck for Mac just isn't working.           0
1294  Ugh I feel like I've got something in my eye, ...          1
7903  Having my midnight shower and get ready to sit...          1
4670  Omg my cell phone can't break! I don't wanna g...          1
6680  @_ryssa  with your choice of icing. There's Ne...          1
6840  body clock screw'd. been waking at 8 during e ...          0
1894  is really excited about the prospect of the ho...          0
7520                                @imde SHOUTOUT!!!!           1
1423  missed my chance again and regret all of it   ...          1

In [28]:
# Feature Construction: Adverb count / Tweet
# ---
# YOUR CODE GOES BELOW
#
df['adv_count'] = df.text.apply(lambda x: pos_check(x, 'adv'))
df[['text','adv_count']].sample(10)

                                                   text  adv_count
7065  @Katherineie i knoww!! i want a guy like joe n...          1
4837  feels like its so early! i guess it could be b...          1
7533  @tec2030  I'm watching it again right now haha...          3
5324  @adambmetal slightly! I'd say grab a 24&quot; ...          1
6069  @anoopdoggdesai  - 0o0o0oh, yummy!!!  Will you...          0
3097  @samantharonson where can i source all your mu...          3
7792  Ok, I've started another account for my #BizBo...          2
5115  @jeremyvisser running as root is so much simpler           1
9995  Somehow survived the day without dying... of b...          1
2420  Sad that the first thing I thought of after he...          1

In [29]:
# Feature Construction: Pronoun 
# ---
# YOUR CODE GOES BELOW
#
df['pron_count'] = df.text.apply(lambda x: pos_check(x, 'pron'))
df[['text','pron_count']].sample(10)

                                                   text  pron_count
3713  @Jacobbbbbbbb heey, gueess wat. I had my baby!...           4
7894  Someone searched &quot;smart girls Naples Flor...           1
9178  @KellyShibari Ok... I didn't see anything to c...           4
8617                           omg air conditionerrrrr            0
6038  E I just saw a really gross snake that just go...           1
5420         starting the week with an eatin' meetin'.            0
8152  @smileypotato43 lo siento. I feel the same way...           1
7686  just sang in Chattanooga TN.... Now he's hungr...           2
7327  @ackstay yeah, um, she left like, insides &amp...           4
9040                Last volleyball game of the season            0

In [30]:
# Feature Construction: Subjectivity
# ---
# YOUR CODE GOES BELOW
# 
def get_subjectivity(text):
    try:
        textblob = TextBlob(unicode(text, 'utf-8'))
        subj = textblob.sentiment.subjectivity
    except:
        subj = 0.0
    return subj

df['subjectivity'] = df.text.apply(get_subjectivity)
df[['text', 'subjectivity']].sample(10)

                                                   text  subjectivity
757                       my sisters keeper is SO sad!            0.0
525   Friends are fail, I want to head to that bar #...           0.0
3970  Is annoyed that there isn't a topshop in Corby...           0.0
2290            Can't sleep cause of the  thunderstorm            0.0
8636           @taylorswift13 hey taylor, how are you?            0.0
9126  very serious business... planning with @maduck...           0.0
3929  Microsoft Announced Windows 7 Release Candidat...           0.0
8119                                @cosita Thank you!            0.0
4952  @stuygurl lol u right  when u go home u can na...           0.0
423     vote for me!! Mr Twitter Switzerland ---&gt;...           0.0

In [31]:
# Feature Construction: Polarity
# ---
# YOUR CODE GOES BELOW
# 
def get_polarity(text):
    try:
        textblob = TextBlob(unicode(text, 'utf-8'))
        pol = textblob.sentiment.polarity
    except:
        pol = 0.0
    return pol

df['polarity'] = df.text.apply(get_polarity)
df[['text', 'polarity']].sample(10)

                                                   text  polarity
4179                                     in the office        0.0
456                                      my neck hurts        0.0
1398          @IzzyBoosey welll i no haha jokes Lol Ty        0.0
1543                       miley cyrus is a douche bag        0.0
5853  @TateBFG yea I'm feelin good. Thx! Grilled che...       0.0
3522        @luxebeaute no  I don't have an letters !!!       0.0
3623  Umf  Yuvashakti is full on 14th May Manali tre...       0.0
8274  summer time! Just woke up. I have to get shots...       0.0
6374  @rumpledoodles Boring Saturday night  !! ugh i...       0.0
5256  Busy busy busy ppm fpm initial telecon...pms p...       0.0

In [68]:
# Feature Construction: Word Level N-Gram TF-IDF Feature 
# ---
# YOUR CODE GOES BELOW
#
tfidf = TfidfVectorizer(max_features=1000, lowercase=True, analyzer='word', ngram_range=(1, 3),  stop_words= 'english') 
df_word_vect = tfidf.fit_transform(df['text_wt_punct'])

# Creating our dataframe
pd.DataFrame(df_word_vect.toarray(), columns=tfidf.get_feature_names())

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,09,10,100,11,12,13,15,16,20,2009,...,yo,young,youtube,yr,yummy,yy,yyyy,zy,zz,zzz
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [69]:
# Feature Construction: Character Level N-Gram TF-IDF Feature
# ---
# YOUR CODE GOES BELOW
# 
tfidf = TfidfVectorizer(max_features=1000, lowercase=True, analyzer='char', ngram_range=(1, 3),  stop_words= 'english') 
df_char_vect = tfidf.fit_transform(df['text_wt_punct'])

# Creating our dataframe
pd.DataFrame(df_char_vect.toarray(), columns=tfidf.get_feature_names())

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,,1,2,2,3,3,4,a,ac,al,...,ye,yea,yes,yi,yin,yo,ys,ys,z,z
0,0.243718,0.0,0.000000,0.000000,0.0,0.0,0.0,0.054732,0.0,0.095049,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.083057,0.0
1,0.225488,0.0,0.000000,0.000000,0.0,0.0,0.0,0.046035,0.0,0.000000,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0
2,0.174598,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0
3,0.247510,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0
4,0.274607,0.0,0.000000,0.000000,0.0,0.0,0.0,0.044049,0.0,0.000000,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0.170746,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.126743,0.128174,0.0,0.0,0.0,0.000000,0.0
9996,0.323535,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0
9997,0.225800,0.0,0.000000,0.000000,0.0,0.0,0.0,0.072440,0.0,0.125801,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0
9998,0.183570,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0
9999,0.280205,0.0,0.123217,0.139176,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0

In [70]:
# Let's prepare the constructed features for modeling
# ---
#
X_metadata = np.array(df.iloc[:, 2:12])
X_metadata

array([['obama forges muslim alliance civilized world didnt even drop cup tea',
        'obama forge muslim alliance civilized world didnt even drop cup tea',
        0, ..., 2, 2, 2],
       ['spectacular prom ever bed serenading must answer sweet dreams friends wonderful day',
        'spectacular prom ever bed serenading must answer sweet dream friend wonderful day',
        0, ..., 3, 3, 4],
       ['overwhelmed today taking moment eat pray',
        'overwhelmed today taking moment eat pray', 0, ..., 1, 0, 1],
       ...,
       ['hah lin hyper already well lucky im college',
        'hah lin hyper already well lucky im college', 0, ..., 1, 2, 1],
       ['omg really good day happened right',
        'omg really good day happened right', 0, ..., 1, 3, 0],
       ['love 2 cook pie saw division 68 th didnt see',
        'love 2 cook pie saw division 68 th didnt see', 0, ..., 1, 0, 3]],
      dtype=object)

In [80]:
# We combine our two tfidf (sparse) matrices and X_metadata
# ---
#
X = scipy.sparse.hstack([df_word_vect, df_char_vect]) #  X_metadata])
X

<10000x2000 sparse matrix of type '<class 'numpy.float64'>'
	with 877695 stored elements in COOrdinate format>

In [81]:
X_metadata.dtype

dtype('O')

In [82]:
# Getting our response variable
# ---
#
y = np.array(df.iloc[:, 0])
y

array([0, 4, 0, ..., 0, 4, 0])

### 4. Data Modelling

During this step, we will use machine learning algorithms to train and test our sentiment analysis models.

In [83]:
# Splitting our data
# ---
#
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [84]:
# Fitting our model
# ---
#

# Importing the algorithms
from sklearn.naive_bayes import MultinomialNB 
from sklearn.linear_model import LogisticRegression

nb_classifier = MultinomialNB() 
lr_classifier = LogisticRegression(max_iter=1000) 

# Training our model
nb_classifier.fit(X_train, y_train) 
lr_classifier.fit(X_train, y_train)

LogisticRegression(max_iter=1000)

In [85]:
# Making predictions
# ---
#
y_predict_nb = nb_classifier.predict(X_test) 
y_predict_lr = lr_classifier.predict(X_test)

In [86]:
# Evaluating the Models
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

# Accuracy scores
# ---
#
print("Naive Bayes Classifier:\n", accuracy_score(y_test, y_predict_nb)) 
print("Logistic Regression Classifier: \n", accuracy_score(y_test, y_predict_lr))

Naive Bayes Classifier:
 0.735
Logistic Regression Classifier:
 0.732

In [87]:
# Confusion matrices
# ---
# 
print("Naive Bayes Classifier: \n", confusion_matrix(y_test, y_predict_nb)) 
print("Logistic Regression Classifier: \n", confusion_matrix(y_test, y_predict_lr))

Naive Bayes Classifier:
 [[767 283]
 [247 703]]
Logistic Regression Classifier:
 [[763 287]
 [249 701]]

In [88]:
# Classification Reports
# ---
#
print("Naive Bayes Classifier: \n", classification_report(y_test, y_predict_nb)) 
print("Logistic Regression Classifier: \n", classification_report(y_test, y_predict_lr))

Naive Bayes Classifier:
               precision    recall  f1-score   support

           0       0.76      0.73      0.74      1050
           4       0.71      0.74      0.73       950

    accuracy                           0.73      2000
   macro avg       0.73      0.74      0.73      2000
weighted avg       0.74      0.73      0.74      2000

Logistic Regression Classifier:
               precision    recall  f1-score   support

           0       0.75      0.73      0.74      1050
           4       0.71      0.74      0.72       950

    accuracy                           0.73      2000
   macro avg       0.73      0.73      0.73      2000
weighted avg       0.73      0.73      0.73      2000

**Evaluation our Models**

* **Accuracy:** the percentage of texts that were assigned the correct topic.
* **Precision:** the percentage of texts the classifier classified correctly out of the total number of texts it predicted for each topic
* **Recall:** the percentage of texts the model predicted for each topic out of the total number of texts it should have predicted for that topic.
* **F1 Score:** the average of both precision and recall.

To improve our model, we can try perfoming other text processing techniques that would better prepare our data for fitting our model. We can also use different vectorizing techniques, implement other machine learning models and perform hyperparameter tuning.

### 5. Recommendations

Our best model had an accuracy of 73.25% and use it for classifying newer tweets. We can improve this performance by performing hyperparameter tuning and feature engineering methods.